.sidebar {
  flex: 1;
  max-width: 260px;
  height: calc(100vh - 10px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 15px;
  color: rgb(29, 26, 26);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  max-width: 230px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}

.sidebarIcon{
    margin-right: 0px;
    font-size: 20px !important;
}


.link.active {
  background: #f2f6ff;
  border-radius: 25px;
  box-shadow: inset 4px 1px 0 #3b82f6;
  width: 100%;
}
